section{
    padding-bottom: 50px;
    border-bottom: black solid 1px;
}
section:first-child>h4{
    color: blue;

}
section+section{
    border-bottom:solid red ;

}
h3,h3+ul{
   color: red;
}

section:nth-child(4)>ul>li:nth-child(2){
size: 25px;
}
